*.#00
*.#01
.~?~
*.~2~
*.obj
.~*~
*.~1~
*.pch
*.map
*.exe
*.lib
*.local
*.#04
*.#02
*.#03
*.#05
*.#09
*.#07
*.#06
*.#08
*.tds
*.tpi
*.res
*.dsk
*.dll
*.cpi
*.ipi
*.~bpl
*.il*
*.bpl
TommyGun/Binaries/Projects/Backup/
*.log
*.db
.~??
*.~6~
*.~12~
*.~10~
*.~13~
*.~5~
*.~8~
*.~11~
*.~14~
*.~7~
*.~4~
*.~9~
*.~3~
*.~dsk
*.~15~
**/__history/
